<div class="row">
    <h2>Step 1</h2>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>

        <mat-form-field class="col-md-offset-3 col-md-6 col-xs-12">
            <mat-label>Login</mat-label>
            <input type="email" matInput formControlName="login">
            <mat-error *ngIf="isSubmitted && registerForm.get('login')?.hasError('required')">Required</mat-error>
            <mat-error
                *ngIf="registerForm.get('login')?.hasError('email') || registerForm.get('login')?.hasError('pattern')">
                Login must be a valid email
            </mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-offset-3 col-md-6 col-xs-12">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
            <!-- note: design says 1 uppercase letter -->
            <mat-error *ngIf="isSubmitted && registerForm.get('password')?.hasError('required')">Required</mat-error>
            <mat-error *ngIf="registerForm.get('password')?.hasError('requiresDigitAndLetter')">
                Password must contain min 1 digit and 1 uppercase letter
            </mat-error>
        </mat-form-field>

        <mat-form-field class="col-md-offset-3 col-md-6 col-xs-12">
            <mat-label>Confirm password</mat-label>
            <input type="password" matInput formControlName="confirmPassword">
            <mat-error *ngIf="isSubmitted && registerForm.get('confirmPassword')?.hasError('required')">Required</mat-error>
            <mat-error *ngIf="registerForm.get('confirmPassword')?.hasError('passwordMismatch')">
                Confirm password must be the same with password
            </mat-error>
        </mat-form-field>

        <section class="col-md-offset-3 col-md-6 col-xs-12">
            <mat-checkbox labelPosition="before" formControlName="acceptTerms" class="col-md-12">
                <span>Agree to work for food</span>
            </mat-checkbox>
            <ng-container *ngIf="isSubmitted && registerForm.get('acceptTerms')?.value === false">
                <div class="col-md-12 alert alert-danger">You must agree with the Terms</div>
            </ng-container>
        </section>

        <div class="col-md-offset-3 col-md-6 col-xs-12">
            <button mat-raised-button type="submit" color="primary">Go to Step 2</button>
        </div>

    </form>

</div>